src/main/resources/clientesBanco.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri May 12 2023 09:32:14 GMT+0200 (hora de verano de Europa central) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="banco">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="cliente" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="nombre" type="xs:string"></xs:element>
                                             <xs:element name="dni" type="xs:string"></xs:element>
                                             <xs:element name="fechaNacimiento" type="xs:string"></xs:element>
                                             <xs:element name="saldo" type="xs:double"></xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>